*{
    margin: 0;
    padding: 0;
}

body{
    height:100vh;
    overflow: hidden;
}

.loader{
    position:absolute;
    height:100vh;
    width:100vw;
    background:white;
    z-index:999;
    
}

.loader-img{
    position:relative;
    top:50%;
    left:50%;
    width:15%;
    transform:translate(-50%,-50%);
}



.relic-slider{
    opacity: 0.91;
    height: 100vh;
    box-shadow: 0 6px 8px 0 #00000029;
    display: flex;
    overflow-y:hidden;
    scroll-snap-type: x mandatory;
}

.relic-slider::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
}


.relic-slider-image{
    width: 100vw;
    height: 94vh;
    display: inline-block;
    scroll-snap-align: start;
}

.slider-nav-item {
    text-decoration: none;
    background: black;
    height: 0.6vh;
    display: inline-flex;
    margin: 0 10px;
    width: 29px;
    opacity: 0.32;
}

.slider-nav {
    position: fixed;
    top: 93%;
    left: 50.5%;
}

p.slider-image-info-text {
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-align: left;
    color: #ffffff;
}

.slider-image-info-name {
    font-size: 5.5vh;
    font-style: normal;
    letter-spacing: -0.3px;
    line-height: 6vh;
}

.slider-image-info-location {
    font-size: 4vh;
    font-style: italic;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.03;
    letter-spacing: -0.2px;
}

.slider-image-info-container {
    width: max-content;
    height: 10%;
    position: fixed;
    top: 82%;
    left: 2%;
}

.comment {
    width: 9.3%;
    height: 8%;
    border-radius: 50px;
    box-shadow: 0 6px 8px 0 #00000029;
    background-color: #3acce1;
    position: absolute;
    left: 89.5%;
    top: 82%;
}

img.comment-image {
    /* width: 18.5px; */
    height: 45%;
    position: absolute;
    left: 12%;
    top: 25%;
}

div.comment > p {
    width: 29.5px;
    height: 20.5px;
    font-family: Arial;
    font-size: 2.7vh;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 0.95;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin: 0px;
    padding: 0;
    position: absolute;
    left: 40%;
    top: 20%;
}

img.search-img,img.back-img {
    width: 38%;
    height: 38%;
    position: absolute;
    top: 32%;
    left: 29%;
}

.search-container,.back-container {
  width: 10vh;
  height: 10vh;
  opacity: 0.8;
  box-shadow: 0 5px 10px 0 #00000029;
  background-color: #ffffff;
  border-radius:50%;
  position:absolute;
  z-index:10;
}

.search-container{
    top: 4%;
    left: 93%;
}
.back-container{
    top: 21%;
    left: 93%;
}

.active-slide{
    opacity: 0.8;
    transition: 0.5s;
}

.fadeInSlideUp{
    animation: fadeInSlideUp 0.5s ease-in forwards;
}

.modal-open-slide-up {
    top:14.5px;
    transition: top 0.5s;
}

.modal-close-slide-up {
    transition: top 0.5s;
}

.comment-modal-container{
    position: absolute;
    top: 16%;
    left: 3%;
    width: 83.5%;
    height: 76%;
    opacity: 0.9;
    box-shadow: 0 0 10px 0 #00000029;
    background-color: #2a2e43;
}
.comment-holder{
    width: 95%;
    height: 64%;
    font-family: Arial;
    font-size: 3vh;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    top: 6.2%;
    right: 5.8%;
    bottom: 22%;
    left: 2.6%;
    padding-right: 2%;
}


.comment-text{
    height: 100%;
    text-align: justify;
}

.comment-holder::-webkit-scrollbar {
    width: 2px;
    background:rgba(255,255,255,0.1)
}

.comment-holder::-webkit-scrollbar-thumb{
    background:white;
}

.experts-container{
    display: flex;
    font-family: 'Arial';
    /* background-color: black; */
    width: 81.29%;
    position: relative;
    height: 22%;
    left: 9.14%;
    top: 4%;
    margin-top: 2.2%;
    padding: 0 0.75%;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.experts-container::-webkit-scrollbar{
    display: none;
}


.experts-item{
    list-style: none;
    display: inline-block;
    padding: 0 4.4%;
    scroll-snap-align: start;
    position: relative;
    line-height: 4.4vh;
}

.expert-info{
    color:white;
    /* display: block; */
    font-size: 3vh;
    text-align: center;
}

.hashtag{
    font-size: 2.4vh;
    color: aqua;
}

.star{
    color: yellow;
    display: inline-block;
    margin: 0;
    position: absolute;
    font-size: 2.2vh;
    padding: 0 0 0 4.2%;
    top: -7%;
    /* top: -3px;
    left: 75px */
}

.experts-nav{
    width: 8vh;
    height: 8vh;
    position: absolute;
    border-radius: 6px;
    background-color: #454f63;
    text-align: center;
    color: white;
    font-size: 5vh;
    /* padding: 2%; */
}

.experts-nav.experts-nav-previous {
    left: 1.6%;
    top: 77.1%;
    font-family: 'Arial';
}

.experts-nav.experts-nav-next {
    right: 1.65%;
    top: 77.1%;
    font-family: 'Arial';
}

.close{
    top: 205%;
    transition: all 0.5s;
}

.open{
    top: 18%;
    transition: all 0.5s;
}

.blue {
    background-color: #3acce1;
}

.search-display {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: -150%;
    left: 0;
    background: black;
    z-index: 11;
    transition: top 0.5s;
}

label {
    color: white;
}

input#q {
    display: block;
    width: 95%;
    margin-left: 2.5%;
    background: black;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 0.25% 1.24%;
    font-size: 4vh;
    margin-top: 3.22%;
    z-index: 18;
}

span.close-search {
    width: 8vh;
    height: 8vh;
    font-family: HelveticaNeue;
    font-size: 4vh;
    font-weight: bold;
    font-style: normal;
    /* margin: auto 0; */
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 8%;
    right: 2%;
    z-index: 15;
}

span.go-search {
    width: 8vh;
    height: 8vh;
    font-family: HelveticaNeue;
    font-size: 4vh;
    font-weight: bold;
    font-style: normal;
    /* margin: auto 0; */
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 8%;
    right: 2%;
}



label.map-label {
    margin: 0;
    padding: 0;
    font-size: 2.7vh;
    position: absolute;
    top: 53.67%;
    left: 3%;
    font-family: 'Arial';
}

img.map {
    width: 95%;
    height: 37%;
    border-radius: 6px;
    object-fit: cover;
    position: absolute;
    top: 58.1%;
    left: 2.4%;
}

label.search-label {
    font-size: 4vh;
    margin: 0;
    position: absolute;
    top: 7%;
    left: 3%;
    z-index: 11;
    transition: all 0.5s;
    font-family: 'Arial';
}

.up {
    font-size: 2.4vh !important;
    top: 1.9% !important;
    transition: all 0.5s;
}

img.search-result-items {
    height: 13vh;
    border-radius: 6px;
    /* opacity: 0.9; */
}

.single-result-container {
    display: inline-block;
    margin: 0 3%;
}

.search-result-container {
    display: flex;
    margin-left: 6.5%;
    width: 85%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 4.6%;
    opacity: 0;
    transition: all 0.5s;
}

p.search-result-relic-name {
    font-size: 2.2vh;
    margin: 0;
    color: white;
}

p.search-result-relic-location {
    font-size: 3.2vh;
    margin: 0;
    color: white;
}
@keyframes fadeInSlideUp {
    from{
        opacity:0;
        transform: translateY(30%);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}

/* Media Queries */

@media (orientation: portrait) {
.orientation {
    position: absolute;
    background: white;
    height: 100vh;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
    top: 0;
    left: 0;
    z-index: 30;
    opacity: 1;
    /* margin: auto 0; */
    }

.o-container {
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

.o-logo{
    width:20%;
}


.orientation p {
    margin: 0 10%;
    font-size: 4vh;
    font-weight: bold;
 
    }
}

@media (orientation: landscape) {
.orientation {
    display:none;
    }
}
    
@media (orientation: portrait) {
.goFullscreen {
    display:none;
    }
}

@media (orientation: landscape) {
.goFullscreen {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: whitesmoke;
	z-index: 25;
	opacity:0.8;
}

.fsBtn {
	background:black;
	transform: translate(-50%, -50%);
	color:white;
	width: 22%;
	position: relative;
	top: 50%;
	left: 50%;
	text-align: center;
	padding: 2%;
	font-size:2vh;
	opacity:1;
	cursor:pointer;
}
}
