*{
    margin:0;
    padding:0;

}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  
}


.logo { 
    position: absolute;
    top: 10%;left: 2%;
    /* height: 66.5px; */
    width: 4%;
}

.relics-container{
    height: 100vh;
    width: 84vw;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    margin: 0 auto;
}

.loader{
    position:absolute;
    height:100vh;
    width:100vw;
    background:white;
    z-index:999;
    
}

.loader-img{
    position:relative;
    top:50%;
    left:50%;
    width:15%;
    transform:translate(-50%,-50%);
}


.relics{
    display: block;
    margin: 2% auto;
    top: 38.5px;
    left: 69.5px;
    height: 80%;
    width: 90%;
    scroll-snap-align: center;
    border-radius: 1vw;
    filter:opacity(0.4);
    box-shadow: 0 6px 8px 0 #00000029;
    transition: all 1s;
    
    background-image: url('http://www.indialostandfound.com/ilffe/assets/imgs/Dual Ring-1s-200px.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    /*.relics:first-child {*/
    /*    margin-top: 38.5px;*/
    /*}*/
    
    /*.relics:last-child {*/
    /*    margin-bottom: 38.5px;*/
    /*}*/
    
    
    div.relics-container > a:nth-child(1) > img {
        margin-top: 6%;
    }

    div.relics-container > a:nth-last-child(1) > img {
        margin-bottom: 6%;
    }
    
    

    .current{
        /*width: 84%;*/
        filter:opacity(1);
        transition: all 1s;
    }
    
    /*.prev-parent>img,.next-parent>img {*/
    /*    width: 75%;*/
    /*    }*/

 
    .menu-icon{
        position: fixed;
        top: 13%;
        right: 2%;
        height: calc(4% - 3px);
        width: calc(3% - 3px);
        cursor: pointer;
        background: transparent;
        border-top: 2px solid;
        border-bottom: 2px solid;
        color: black;
        font-size: 0;
        transition: all 0.25s ease-in-out;
        z-index:9;
    }
    
    
 .menu-icon:before,.menu-icon:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

    .menu-icon:hover {
  color: grey;
}

    .menu-icon.is-active {
  border-color: transparent;
}
    .menu-icon.is-active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  color:white;
}
    .menu-icon.is-active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
          color:white;
}



    .search-icon{
        position: fixed;
        top: 24%;
        right: 1.5%;
        height: 4%;
        width: 4%;
        cursor: pointer;
    }

    .relic-info-container {
        position: fixed;
        bottom: 13%;
        left: 2.5%;
        transform: rotate(270deg);
        width: 5%;
        /* height:100.5px; */
        line-height: 13.5px;
        font-family: ArialMT;
    }
    .relic-info-container p{
        margin: 0;
        padding: 0;
        white-space: nowrap;
        writing-mode: lr-tb;
        opacity:1;
        transition: opacity 1s;
    }
    
    p.relic-name {
        font-weight: bold;
        font-size: 2vw;
        text-align: left;
        line-height: 2vw;
        }
    
    p.relic-location {
        font-size: 1vw;
        text-align: left;
        line-height: 1.2vw;
    }
  
    p.relic-era {
        font-size: 1.0vw;
        font-style: italic;
        text-align: left;
        line-height: 1.6vw;
    }
    
    .menu-container{
        display: none;
        position: absolute;
        top:0;
        left: 71%;
        width: 29%;
        height: 100vh;
        box-shadow: 0 6px 8px 0 #00000029;
        background-color: #000000;
        transform: scaleX(0);
        transform-origin: right;
        z-index: 1;
      }

    nav{
        position: relative;
        width: 43%;
        /* height: 202px; */
        font-family: Arial;
        font-size: 2.4vw;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
        top: 16%;
        left: 24%;
    }

    .menu-item{
        color: #ffffff;
        display: block;
        opacity: 0;
    }
    
    .menu-item:hover{
    color: #3acce1;
}

.menu-item:visited{
    color: #de698a;
}

.menu-item:active{
    color: #f72c2c;
}

    
    .menu-close-btn {
        width: 31.8px;
        height: 31.8px;
        text-align: left;
        position: absolute;
        left: 86%;
        top: 11%;
        cursor: pointer;
    }

    .menu-close-btn img {
        opacity: 0;
        width: 40%;
    }
  
    .fadeIn {
        animation: fadeIn 2s;
    }

    .show-menu{
        display: block;
        animation: slideInRight 0.3s ease-in forwards;
    }

    .show-menu > .menu-close-btn img{
        animation: fadeInSlideUp 0.4s 0.3s ease-in forwards;
    }

    .show-menu > .menu-nav > .menu-item:nth-of-type(1){
        animation: fadeInSlideUp 0.4s 0.3s ease-in forwards;
    }
    .show-menu > .menu-nav > .menu-item:nth-of-type(2){
        animation: fadeInSlideUp 0.4s 0.4s ease-in forwards;
    }
    .show-menu > .menu-nav > .menu-item:nth-of-type(3){
        animation: fadeInSlideUp 0.4s 0.5s ease-in forwards;
    }
    .show-menu > .menu-nav > .menu-item:nth-of-type(4){
        animation: fadeInSlideUp 0.4s 0.6s ease-in forwards;
    }
    .show-menu > .menu-nav > .menu-item:nth-of-type(5){
        animation: fadeInSlideUp 0.4s 0.7s ease-in forwards;
    }
    .show-menu > .menu-nav > .menu-item:nth-of-type(6){
        animation: fadeInSlideUp 0.4s 0.8s ease-in forwards;
    }
    .show-menu > .menu-nav > .menu-item:nth-of-type(7){
        animation: fadeInSlideUp 0.4s 0.9s ease-in forwards;
    }
    
    @keyframes fadeIn {
        from{
            opacity:0;

        }
        to{
            opacity:1;

        }
    }

    @keyframes fadeInSlideUp {
        from{
            opacity:0;
            transform: translateY(30%);
        }
        to{
            opacity:1;
            transform: translateY(0);
        }
    }

    @keyframes slideInRight {
        from {
            transform: scaleX(0);
        }
        to {
            transform: scaleX(1);
        }
    }

/* Media Queries */

@media (orientation: portrait) {
.orientation {
    position: absolute;
    background: white;
    height: 100vh;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
    top: 0;
    left: 0;
    z-index: 30;
    opacity: 0.9;
    /* margin: auto 0; */
    }
    
.o-container {
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

.o-logo{
    width:20%;
}


.orientation p {
    margin: 0 10%;
    font-size: 2vh;
    font-weight: bold;
 
    }
}

@media (orientation: landscape) {
.orientation {
    display:none;
    }
}

@media (orientation: portrait) {
.goFullscreen {
    display:none;
    }
}

@media (orientation: landscape) {
.goFullscreen {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: whitesmoke;
	z-index: 50;
	opacity:0.8;
}

.fsBtn {
	background: black;
	transform: translate(-50%, -50%);
	color:white;
	width: 22%;
	position: relative;
	top: 50%;
	left: 50%;
	text-align: center;
	padding: 2%;
	font-size:2vh;
	opacity:1;
	cursor:pointer;
}
}

.search-display {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: -150%;
    left: 0;
    background: black;
    z-index: 25;
    transition: top 0.5s;
}

label {
    color: white;
}

input#q {
    display: block;
    width: 95%;
    margin-left: 2.5%;
    background: black;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 0.25% 1.24%;
    font-size: 4vh;
    margin-top: 3.22%;
    z-index: 18;
}

span.close-search {
    width: 8vh;
    height: 8vh;
    font-family: HelveticaNeue;
    font-size: 4vh;
    font-weight: bold;
    font-style: normal;
    /* margin: auto 0; */
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 8%;
    right: 2%;
    z-index: 15;
}

span.go-search {
    width: 8vh;
    height: 8vh;
    font-family: HelveticaNeue;
    font-size: 4vh;
    font-weight: bold;
    font-style: normal;
    /* margin: auto 0; */
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 8%;
    right: 2%;
}



label.map-label {
    margin: 0;
    padding: 0;
    font-size: 2.7vh;
    position: absolute;
    top: 53.67%;
    left: 3%;
}

img.map {
    width: 95%;
    height: 37%;
    border-radius: 6px;
    object-fit: cover;
    position: absolute;
    top: 58.1%;
    left: 2.4%;
}

label.search-label {
    font-size: 4vh;
    margin: 0;
    position: absolute;
    top: 7%;
    left: 3%;
    z-index: 11;
    transition: all 0.5s;
}

.up {
    font-size: 2.4vh !important;
    top: 1.9% !important;
    transition: all 0.5s;
}

img.search-result-items {
    height: 13vh;
    border-radius: 6px;
    /* opacity: 0.9; */
}

.single-result-container {
    display: inline-block;
    margin: 0 3%;
}

.search-result-container {
    display: flex;
    margin-left: 6.5%;
    width: 85%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 4.6%;
    opacity: 0;
    transition: all 0.5s;
}

p.search-result-relic-name {
    font-size: 2.2vh;
    margin: 0;
    color: white;
}

p.search-result-relic-location {
    font-size: 3.2vh;
    margin: 0;
    color: white;
}
    