==


<div class="main-container">
         <div class="search-container">
            <div  class="search-anchor"><img class="search-img" src="{{ 'assets/images/search.svg'|theme }}" alt="">
            </div>
         </div>
         <a href="default.html" class="back-container">
            <img class="back-img" src="{{ 'assets/images/back.png'|theme }}" alt="">
         </a>
         
        
         <div class="relic-slider">
         	{% for photo in album.photos %}
            <img class="relic-slider-image" src="{{ photo.thumb }}" alt="" data-slide="{{ loop.index0 }}" data-name="{{ photo.title }}" data-location="{{ photo.photo_location }}">
          	{% endfor %}
         </div>
      </div>
      <div class="slider-image-info-container fadeInSlideUp">
         <p class="slider-image-info-text slider-image-info-name"></p>
         <p class="slider-image-info-text slider-image-info-location"></p>
      </div>
      <div class="comment">
         <img class="comment-image" src="{{'assets/images/comment.png'|theme }}" alt="">
         <p>Expert Speak</p>
      </div>
      <div class="slider-nav">
         <!--Nanital Images Slider icons, to construct them to be clickable and navigate to that slider image(remove this comment upon completion)-->
         <ul>
         	{% for photo in album.photos %}
            <li class="slider-nav-item" data-to="{{ loop.index0 }}"></li>
			{% endfor %}
         </ul>
      </div>
      <div class="comment-modal-container close">
         <div class="comment-holder">
            <p class="comment-text">
               Raja Rudra Pratap, it is said saw the potential of this island while out on a hunting trip from his capital at Garhkundar. He moved the capital but was killed soon after in an accident. Built during Akbar’s expansionist reign, his son Raja Bharti Chand built this palace complex on a river island; it was not only picturesque, the river formed a natural moat. In time Jahangir, still Prince Salim appointed Raja Bir Singh as Raja, quite possibly as a reward for murdering Akbar’s trusted advisor Abul Fazl and sending his head on a platter to the future Emperor in Allahabad Fort.
               <br>
               <br>
               Bir Singh was a prodigious builder of not only this complex at Orchha, but some 52 forts and palaces including Datia and Narsinghdev Fort to his credit. The Bundhelkhand Rajas were great patrons of the arts, noted poet Keshavdas lived here and wrote the famed Ram Chandrika and clearly there was a great tradition of art which is seen in every building, each narrating a different story.
               Raja Rudra Pratap, it is said saw the potential of this island while out on a hunting trip from his capital at Garhkundar. He moved the capital but was killed soon after in an accident. Built during Akbar’s expansionist reign, his son Raja Bharti Chand built this palace complex on a river island; it was not only picturesque, the river formed a natural moat. In time Jahangir, still Prince Salim appointed Raja Bir Singh as Raja, quite possibly as a reward for murdering Akbar’s trusted advisor Abul Fazl and sending his head on a platter to the future Emperor in Allahabad Fort.
               <br>
               <br>
               Bir Singh was a prodigious builder of not only this complex at Orchha, but some 52 forts and palaces including Datia and Narsinghdev Fort to his credit. The Bundhelkhand Rajas were great patrons of the arts, noted poet Keshavdas lived here and wrote the famed Ram Chandrika and clearly there was a great tradition of art which is seen in every building, each narrating a different story.
               Raja Rudra Pratap, it is said saw the potential of this island while out on a hunting trip from his capital at Garhkundar. He moved the capital but was killed soon after in an accident. Built during Akbar’s expansionist reign, his son Raja Bharti Chand built this palace complex on a river island; it was not only picturesque, the river formed a natural moat. In time Jahangir, still Prince Salim appointed Raja Bir Singh as Raja, quite possibly as a reward for murdering Akbar’s trusted advisor Abul Fazl and sending his head on a platter to the future Emperor in Allahabad Fort.
               <br>
               <br>
               Bir Singh was a prodigious builder of not only this complex at Orchha, but some 52 forts and palaces including Datia and Narsinghdev Fort to his credit. The Bundhelkhand Rajas were great patrons of the arts, noted poet Keshavdas lived here and wrote the famed Ram Chandrika and clearly there was a great tradition of art which is seen in every building, each narrating a different story.
            </p>
         </div>
         <div class="experts-nav experts-nav-previous">&larr;</div>
         <div class="experts-container">
            <li class="experts-item">
               <span class="expert-info expert-fn">Swapna</span><span class="star">&#9733;</span>
               <span class="expert-info expert-ln">Liddle</span>
               <span class="expert-info hashtag">#Architecture</span>
            </li>
            <li class="experts-item">
               <span class="expert-info expert-fn">Anoothi</span><span class="star"> &#9733;</span>
               <span class="expert-info expert-ln">Vishal</span>
               <span class="expert-info hashtag">#Cuisine</span>
            </li>
            <li class="experts-item">
               <span class="expert-info expert-fn">JJ</span>
               <span class="expert-info expert-ln">Valaya</span>
               <span class="expert-info hashtag">#Fashion</span>
            </li>
            <li class="experts-item">
               <span class="expert-info expert-fn">Jiles</span><span class="star"> &#9733;</span>
               <span class="expert-info expert-ln">Tiltson</span>
               <span class="expert-info hashtag">#Heritage</span>
            </li>
            <li class="experts-item">
               <span class="expert-info expert-fn">Amit</span>
               <span class="expert-info expert-ln">Baig</span>
               <span class="expert-info hashtag">#History</span>
            </li>
            <li class="experts-item">
               <span class="expert-info expert-fn">Gopi</span>
               <span class="expert-info expert-ln">Nath</span>
               <span class="expert-info hashtag">#Textile</span>
            </li>
            <li class="experts-item">
               <span class="expert-info expert-fn">Ananda</span><span class="star"> &#9733;</span>
               <span class="expert-info expert-ln">Swaroop</span>
               <span class="expert-info hashtag">#Fashion</span>
            </li>
            <li class="experts-item">
               <span class="expert-info expert-fn">Milkesh</span>
               <span class="expert-info expert-ln">Potdar</span>
               <span class="expert-info hashtag">#Fashion</span>
            </li>
            <li class="experts-item">
               <span class="expert-info expert-fn">Nitin</span>
               <span class="expert-info expert-ln">Pasricha</span>
               <span class="expert-info hashtag">#Cuisine</span>
            </li>
            <li class="experts-item">
               <span class="expert-info expert-fn">Amit</span>
               <span class="expert-info expert-ln">Pasricha</span>
               <span class="expert-info hashtag">#Architecture</span>
            </li>
         </div>
         <div class="experts-nav experts-nav-next blue">&rarr;</div>
      </div>
      <div class="search-display">
            <label class="search-label" for="search"><strong>Search</strong><i> by city, state, relic, expert, date, dynasty, comment, keywords…</i></label>
            <input class="search-input"  type="text" name="search" id="q"><span class="close-search">X</span><span class="go-search">&rarr;</span>
            <div class="search-result-container">
               <div class="single-result-container">
                  <p class="search-result-relic-name">Raj Mahal and Ruins</p>
                  <p class="search-result-relic-location"><strong>Orchha</strong></p>
                  <img class="search-result-items" src="{{ 'assets/images/nanital/A3.jpg'|theme }}" alt="search-result" srcset="">
               </div>
               <div class="single-result-container">
                  <p class="search-result-relic-name">Maha Complex</p>
                  <p class="search-result-relic-location"><strong>Orchha</strong></p>
                  <img class="search-result-items" src="{{ 'assets/images/nanital/C1.jpg'|theme }}" alt="search-result" srcset="">
               </div>
               <div class="single-result-container">
                  <p class="search-result-relic-name">Raj Mahal Complex</p>
                  <p class="search-result-relic-location"><strong>Orchha</strong></p>
                  <img class="search-result-items" src="{{ 'assets/images/nanital/C2.jpg'|theme }}" alt="search-result" srcset="">
               </div>
               <div class="single-result-container">
                  <p class="search-result-relic-name">Cenotaphs</p>
                  <p class="search-result-relic-location"><strong>Orchha</strong></p>
                  <img class="search-result-items" src="{{ 'assets/images/nanital/C3.jpg'|theme }}" alt="search-result" srcset="">
               </div>
               <div class="single-result-container">
                  <p class="search-result-relic-name">Raj Mahal Ruins</p>
                  <p class="search-result-relic-location"><strong>Orchha</strong></p>
                  <img class="search-result-items" src="{{ 'assets/images/nanital/C4.jpg'|theme }}" alt="search-result" srcset="">
               </div>
            </div>
            <label class="map-label"  for="search">OR look for relics on the map below</label>
            <img class="map" src="{{'assets/images/map.png'|theme}}" alt="map">
         </div>
         {% put scripts %}
    			<script type="text/javascript" src="/themes/ilf/assets/javascript/relics.js"></script>
		{% endput %}